*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    display: flex;
    place-items: center;
    height: 100vh;
}
.box{    
    width: 500px;
    height: 300px;
    color: white;    
    background-color: rgb(51, 51, 51);
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.box::after, .box::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 300px;
    width: 500px;
    background-image: conic-gradient(from var(--angle), red, green, blue, pink, yellow, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.box::before{
    filter: blur(1.5rem);
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}